/.quarto/
/_site/
**/wd/
*_cache/
*_files/
site_libs/

!_freeze/
!_freeze/**
!docs/
!docs/**

quarto_clean.sh

.Rhistory
.RData
.Ruserdata
.Rproj.user
*.Rproj

*.rds
*.RData
*.pkl
*.nc
*.model

.DS_Store
Thumbds.db
**/*.quarto_ipynb
